:root{
    --blue-125: #214b99;
    --blue-150: #122a57;
    --gray-100: #ccc;
    --white: #fff
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

ul{
    list-style: nome;
    margin: 0;
    padding: 0;
}

ul, li, a{
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    min-height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    background-color: var(--blue-150);
}

.navbar a{
    color: var(--white);
}

.nav-menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: var(--blue-150);
    width: 100%;
    text-align: center;
    transition: .3s ease;
}

.nav-item {
    width: 100%;
    padding: 15px;
}

.nav-menu.active {
    top: 100px;
}

.nav-hamburger {
    display: block;
    cursor: pointer;
}

.nav-hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.nav-hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.nav-hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: var(--white);
}

.base-button {
    padding: 10px 30px;
    border-radius: 25px;
    transition: .2s all;
    cursor: pointer;
}

.flex-container {
    padding: 10px;
}

.presentation-text {
    margin: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.presentation-text h1 {
    font-size: 34px;
    color: var(--blue-150);
    margin-bottom: 15px;
}

.presentation-text p {
    font-size: 18px;
    margin-bottom: 15px;
    text-align: center;
}

.presentation-text a, .plan-item a {
    background-color: var(--blue-150);
    color: var(--white);
}

.presentation-text a:hover, .plan-item a:hover {
    background-color: var(--blue-125);
}

.presentation-image {
    margin-bottom: 40px;
}

.who-we-are-text {
    margin-bottom: 15px;
}

.who-we-are-container {
    margin-bottom: 20px;
}

.who-we-are-text h2 {
    font-size: 28px;
    color: var(--blue-150);
    margin-bottom: 20px;
    padding-left: 10px;
    border-left: 5px solid var(--blue-150);    
}

.who-we-are-text p {
    margin-bottom: 10px;
}

.services-container {
    background-color: var(--blue-150);
    color: var(--white);
    padding: 15px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-item {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.service-title, .service-item img, .service-item p{
    margin-bottom: 20px;   
}

.service-item p{
    text-align: center; 
    font-weight: bold;   
}

.service-item a{
    background-color: var(--white);
    color: var(--blue-150);
    font-size: 13px;
    font-weight: bold;    
}

.service-item a:hover {
    background-color: var(--gray-100);
}

.plans-container {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.plans-container h2 {
    font-size: 28px;
    color: var(--blue-150);
    margin-bottom: 15px;
}

.plan-item {
    padding: 20px;
    border: 5px solid var(--blue-150);
    margin-bottom: 15px;
    width: 300px;
}

.plan-item h3 {
    text-align: center;
    font-size: 24px;
    padding: 15px;
    margin-bottom: 25px;
    border-bottom: 3px solid var(--blue-150);
}

.plan-item ul{
    list-style: none;
    margin-bottom: 25px;
}

.plan-item ul li{
    margin-bottom: 5px;
}

.plan-item ul li::before{
    content: "\25A0";
    color: var(--blue-150);
    font-weight: bold;
    display: inline-block;
    width: 1.2em;
}

.button-content {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer{
    min-height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    background-color: var(--blue-150);
    color: var(--white);
}

footer a, footer a:visited{
    color: var(--white);
    transition: 0.2s all;
}

footer a:hover{
    color: var(--gray-100);
}
