*{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

ul{
    list-style: nome;
    margin: 0;
    padding: 0;
}

ul li a{
    text-decoration: none;
}

img {
    width: 100%;
}

.navbar {
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.nav-menu-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    width: 100%;
}

.nav-menu {
    position: fixed;
    top: -100%;
    left: 0;
    gap: 0;
    flex-direction: column;
    background-color: white;
    width: 100%;
    text-align: center;
    transition: .3s ease;
}

.nav-item {
    width: 100%;
    padding: 15px;
}

.nav-menu.active {
    top: 70px;
}

.nav-hamburger {
    display: block;
    cursor: pointer;
}

.nav-hamburger.active .bar:nth-child(2) {
    opacity: 0;
}

.nav-hamburger.active .bar:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.nav-hamburger.active .bar:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.bar {
    display: block;
    width: 25px;
    height: 2px;
    margin: 5px auto;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    background-color: black;
}